<!-- <div class="colo_box">
	<style type="text/css">
		.colorItem{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			float: left;
			margin-right: 10px;
		}
		.h3{
			margin-left: 120px;
			font-size: 16px;
			line-height: 30px;
		}
		p.text{
			margin-left: 120px;
		}
		.colo_box{
			display: flex;
		    margin: 30px 0;
		}
		.color_list{
			flex-basis: 200px;
			position: relative;
		}
		.color_list:before{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			content: '';
			border: 50px solid;
		}
	</style>
	<div class="color_list dark">
		<p class="h3">深色</p>
		<p>#4c5161</p>
	</div>
	<div class="color_list">
		<div class="colorItem light"></div>
		<p class="h3">浅色</p>
		<p class="text">#f7f9fa</p>
	</div>
	<div class="color_list">
		<div class="colorItem gray"></div>
		<p class="h3">灰色</p>
		<p>#a2a9b6</p>
	</div>
	<div class="color_list">
		<div class="colorItem gray"></div>
		<p class="h3">灰色</p>
		<p>#a2a9b6</p>
	</div>
</div> -->