@charset "utf-8";

// 一些全局变量
// 使用双斜杠注释

// 常见颜色
$dark: #454545;           // 站点默认文字颜色
$blue: #1C81FF;           // 链接色，高亮色
$darkblue: #0c2d5f;       // 蓝色链接文字hover时候的更深一点的颜色
$silver: #b6bbc6;         // 银色，组件一些图标的默认颜色
$gray: #a2a9b6;           // 灰色文字颜色
$grayDisabled: #ccd0d7;   // 灰色禁用
$white: #fff;
$green: #01cf97;          // 成功文字颜色，成功提示背景色
$orange: #f28c48;         // 用在警示处
$red: #f4615c;            // 出错使用
$light: #f7f9fa;          // 很轻的灰色，常做背景色使用

// 边框控制
$borderNormal: #f0f0f0;
$borderHover: #ababaf;
$borderFocus: $blue;

// 蓝色背景色、primary-btn
$backgroundBlue: $blue;
$backgroundBlueHover: #1969E0;
$backgroundBlueActive: #1969E0;

$backgroundGreen: $green;
$backgroundGreenHover: #00dba2;
$backgroundGreenActive: #00bf8e;

$backgroundRed: $red;
$backgroundRedHover: #ff7772;
$backgroundRedActive: #dc5652;

$backgroundOrange: $orange;
$backgroundOrangeHover: #FF6F21;
$backgroundOrangeActive: #FF6F21;

// 列表hover色，偏蓝
$backgroundList: $white;
$backgroundListHover: #f0f7ff;
$backgroundListSelected: #e0f0ff;

// 白色背景hover出现的淡灰色
$backgroundHover: #f0f0f2;

// 黑色tips背景色
$backgroundDark: #373c42;

// UI组件的圆角大小
$borderRadius: 4px;

// 图片背景路径
$urlImage: 'images'!default;

