@charset "UTF-8";
.ui-btn {
  display: inline-block;
  line-height: 1.42858;
  font-size: 14px;
  text-align: center;
  color: #454545;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
  cursor: pointer;
  overflow: visible; }

div.ui-btn {
  display: block; }

.ui-btn.is-round {
  border-radius: 20px; }

.ui-btn.is-circle {
  border-radius: 50%;
  padding: 12px; }

.ui-btn:hover {
  color: #454545;
  border-color: #eee;
  text-decoration: none; }

.ui-btn:not(.disabled):active,
.ui-btn:not(.ui-btn-loading):active {
  background-color: #f7f9fa; }

.ui-btn-primary,
.ui-btn-primary.disabled:hover,
.ui-btn-primary.ui-btn-loading:hover {
  border: 1px solid #1C81FF;
  background-color: #1C81FF;
  color: #fff; }

.ui-btn-primary:hover {
  background-color: #1969E0;
  border-color: #1969E0;
  color: #fff; }

.ui-btn-primary:not(.disabled):active,
.ui-btn-primary:not(.loading):active {
  background-color: #1969E0;
  border-color: #1969E0; }

.ui-btn-orange,
.ui-btn-orange.disabled:hover,
.ui-btn-orange.ui-btn-loading:hover {
  background-color: #f28c48;
  border-color: #f28c48;
  color: #fff; }

.ui-btn-orange:hover {
  background-color: #FF6F21;
  border-color: #FF6F21;
  color: #fff; }

.ui-btn.loading {
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
  color: transparent !important;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; }

.ui-btn.loading:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: no-repeat center; }

.ui-btn.loading:before,
input.ui-btn.loading {
  background-image: url(images/btn/loading.gif); }

.ui-btn-primary.loading:before,
input.ui-btn-primary.loading {
  background-image: url(images/btn/loading-primary.gif); }

.ui-btn-orange.loading:before,
input.ui-btn-orange.loading {
  background-image: url(images/btn/loading.gif); }

/*IE7, IE8 loading文字隐藏控制 */
@media \0screen\,screen\9 {
  .ui-btn-loading {
    height: 38px;
    line-height: 100px !important;
    *line-height: 0 !important;
    vertical-align: top;
    overflow: hidden; } }
