@charset "UTF-8";
/* 重置input */
/* 状态 */
input[disabled],
input[readonly] {
  cursor: default; }

input.ui-input,
.ui-input > input {
  box-sizing: content-box;
  height: 20px;
  line-height: 20px;
  padding: 9px 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  color: #454545;
  background-color: #fff;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s; }

.ui-input:hover,
.ui-input:hover > input {
  border-color: #eee; }

.ui-input:focus,
.ui-input > input:focus {
  border-color: #f28c48; }

span.ui-input {
  display: inline-block; }

div.ui-input > input {
  width: 100%;
  height: 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.ui-input[readonly]:hover,
.ui-input > input[readonly],
.ui-input[readonly]:focus,
.ui-input > input[readonly]:focus,
.ui-input[disabled],
.ui-input > input[disabled] {
  border-color: #ccc; }

.ui-input[disabled],
.ui-input > input[disabled] {
  background-color: #f7f9fa; }

.ui-input-suffix {
  position: relative;
  padding: 0 56px 0 3px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.ui-input-suffix > input,
.ui-input-prefix > input {
  display: block;
  box-sizing: content-box;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 9px 0 9px;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  right: -6px;
  color: #454545;
  font-size: 14px;
  outline: none;
  background: none;
  background-clip: content-box;
  position: relative;
  z-index: 1; }

.ui-input-prefix > input {
  left: 0; }

.ui-input-prefix > .ui-input,
.ui-input-suffix > .ui-input {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s; }

.ui-input_suffix {
  line-height: 38px;
  padding: 0 3px;
  background-color: #fff;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  right: 8px;
  top: 1px;
  z-index: 1;
  color: #a2a9b6; }

.ui-input-prefix:hover > .ui-input,
.ui-input-suffix:hover > .ui-input {
  border-color: #eee; }

.ui-input-prefix > input:focus ~ .ui-input,
.ui-input-suffix > input:focus ~ .ui-input {
  border-color: #f28c48; }

.ui-input-prefix {
  position: relative;
  padding: 0 3px 0 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.ui-input_prefix {
  line-height: 38px;
  padding: 0 3px;
  background-color: #fff;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  left: 2px;
  top: 1px;
  z-index: 1;
  color: #a2a9b6;
  width: 36px;
  text-align: center; }

.ui-input-prefix .ui-icon-search,
.ui-input-suffix .ui-icon-search {
  cursor: pointer;
  box-sizing: content-box;
  border: solid #fff;
  border-width: 9px 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background: #b6bbc6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi+k9lwMRAZYDLwCNAHAnEMkDMDqUjoeL4AZqLfwNxFhAz4MEg+V+4vIxuYApUjBOIG4H4DhD/hNKNUHEGqDqCBh6B8rmA+CgO9Ueh8gxQ9XgjZSqUrgBiKxwhBBIvg7KnEApDcajNdwikjLtQdVKEXPgSSssSiEcZKP2KULIRh9KPCRj4FEqLEjLQEUovJ2DgYihtRygMD5MYy4eJSYfZRKZDEE4C4n+EDPxFRE5hwGcoAw6vgbwTAU0azFA6BohPQQ3BaSgDGSXUXyyG5lNiIDZDhWESLBQUe7OBmA+IFwBxMUyCEexMOhSwZAOAAAMAVJM+EQ2rrOoAAAAASUVORK5CYII=) no-repeat; }
