.ui-message {
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 10000;
  min-width: 400px;
  height: 20px;
  line-height: 20px;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  outline: none; }

.ui-message-success {
  background-color: #01cf97; }

.ui-message-error {
  background-color: #f4615c; }

.ui-message-warn {
  background-color: #f28c48; }

.ui-message-info {
  background-color: #f4615c; }
