@charset "UTF-8";
/*
页面结构
<div class="pagination">
	<div id="page-list" class="page-list mt20 fn-clear">
		<ul class="fRight">
			<span class="page-link iblok gray"><<上一页</span>
			<li class="fn-clear fLeft"><span class="page-link iblok current">1</span></li>
			<li class="fn-clear fLeft"><span page="2" class="page-link iblok"><a href="/newsdongtai/index2.html"> 2 </a></span></li>
			<li class="fn-clear fLeft"><span page="3" class="page-link iblok"><a href="/newsdongtai/index3.html"> 3 </a></span></li>
			<li class="fn-clear fLeft"><span page="4" class="page-link iblok"><a href="/newsdongtai/index4.html"> 4 </a></span></li>
			<li class="fn-clear fLeft"><span class="page-link iblok disabled">...</span></li>
			<li class="fn-clear fLeft"><span page="198" class="page-link iblok"><a href="/newsdongtai/index198.html"> 198 </a></span></li>
			<li class="fn-clear fLeft"><span page="199" class="page-link iblok"><a href="/newsdongtai/index199.html"> 199 </a></span></li>
			<span page="2" class="page-link iblok"><a href="/newsdongtai/index2.html"> 下一页&gt;&gt; </a></span>
		</ul>
	</div>
</div>

 */
.pagination .page-list .page-link {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-left: 10px; }
  .pagination .page-list .page-link a {
    background: none;
    text-decoration: none;
    border-bottom: none; }
  .pagination .page-list .page-link:hover, .pagination .page-list .page-link.current {
    background: #6cf;
    color: #fff;
    border: 1px solid #6cf;
    text-decoration: none; }
