@charset "UTF-8";
/**
 * 
 * @color.css
 * @author xinxuzhang 
 * @create 16-04-18
**/
/*主色*/
body, .dark {
  color: #454545; }

/*蓝色*/
a, .blue, a.dark:hover {
  color: #1C81FF; }

.darkblue {
  color: #0c2d5f; }

/*hover蓝色*/
a:hover {
  color: #0c2d5f; }

/*灰色*/
.gray {
  color: #a2a9b6; }

/*白色*/
.white {
  color: #fff; }

/* 绿色 */
.green {
  color: #01cf97; }

/* 橘色 */
.orange {
  color: #f28c48; }

/* 红色 */
.red {
  color: #f4615c; }

/* 浅色 */
.light {
  color: #f7f9fa; }

.bg.dark {
  background: #454545; }

.bg.blue {
  background: #1C81FF; }

.bg.darkblue {
  background: #0c2d5f; }

.bg.gray {
  background: #a2a9b6; }

.bg.white {
  background: #fff; }

.bg.green {
  background: #01cf97; }

.bg.orange {
  background: #f28c48; }

.bg.red {
  background: #f4615c; }

.bg.light {
  background: #f7f9fa; }

.ui-btn {
  display: inline-block;
  line-height: 1.42858;
  font-size: 14px;
  text-align: center;
  color: #454545;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
  cursor: pointer;
  overflow: visible; }

div.ui-btn {
  display: block; }

.ui-btn.is-round {
  border-radius: 20px; }

.ui-btn.is-circle {
  border-radius: 50%;
  padding: 12px; }

.ui-btn:hover {
  color: #454545;
  border-color: #eee;
  text-decoration: none; }

.ui-btn:not(.disabled):active,
.ui-btn:not(.ui-btn-loading):active {
  background-color: #f7f9fa; }

.ui-btn-primary,
.ui-btn-primary.disabled:hover,
.ui-btn-primary.ui-btn-loading:hover {
  border: 1px solid #1C81FF;
  background-color: #1C81FF;
  color: #fff; }

.ui-btn-primary:hover {
  background-color: #1969E0;
  border-color: #1969E0;
  color: #fff; }

.ui-btn-primary:not(.disabled):active,
.ui-btn-primary:not(.loading):active {
  background-color: #1969E0;
  border-color: #1969E0; }

.ui-btn-orange,
.ui-btn-orange.disabled:hover,
.ui-btn-orange.ui-btn-loading:hover {
  background-color: #f28c48;
  border-color: #f28c48;
  color: #fff; }

.ui-btn-orange:hover {
  background-color: #FF6F21;
  border-color: #FF6F21;
  color: #fff; }

.ui-btn.loading {
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
  color: transparent !important;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; }

.ui-btn.loading:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: no-repeat center; }

.ui-btn.loading:before,
input.ui-btn.loading {
  background-image: url(ui/images/btn/loading.gif); }

.ui-btn-primary.loading:before,
input.ui-btn-primary.loading {
  background-image: url(ui/images/btn/loading-primary.gif); }

.ui-btn-orange.loading:before,
input.ui-btn-orange.loading {
  background-image: url(ui/images/btn/loading.gif); }

/*IE7, IE8 loading文字隐藏控制 */
@media \0screen\,screen\9 {
  .ui-btn-loading {
    height: 38px;
    line-height: 100px !important;
    *line-height: 0 !important;
    vertical-align: top;
    overflow: hidden; } }

/* 重置input */
/* 状态 */
input[disabled],
input[readonly] {
  cursor: default; }

input.ui-input,
.ui-input > input {
  box-sizing: content-box;
  height: 20px;
  line-height: 20px;
  padding: 9px 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  color: #454545;
  background-color: #fff;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s; }

.ui-input:hover,
.ui-input:hover > input {
  border-color: #eee; }

.ui-input:focus,
.ui-input > input:focus {
  border-color: #f28c48; }

span.ui-input {
  display: inline-block; }

div.ui-input > input {
  width: 100%;
  height: 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.ui-input[readonly]:hover,
.ui-input > input[readonly],
.ui-input[readonly]:focus,
.ui-input > input[readonly]:focus,
.ui-input[disabled],
.ui-input > input[disabled] {
  border-color: #ccc; }

.ui-input[disabled],
.ui-input > input[disabled] {
  background-color: #f7f9fa; }

.ui-input-suffix {
  position: relative;
  padding: 0 56px 0 3px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.ui-input-suffix > input,
.ui-input-prefix > input {
  display: block;
  box-sizing: content-box;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 9px 0 9px;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  right: -6px;
  color: #454545;
  font-size: 14px;
  outline: none;
  background: none;
  background-clip: content-box;
  position: relative;
  z-index: 1; }

.ui-input-prefix > input {
  left: 0; }

.ui-input-prefix > .ui-input,
.ui-input-suffix > .ui-input {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s; }

.ui-input_suffix {
  line-height: 38px;
  padding: 0 3px;
  background-color: #fff;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  right: 8px;
  top: 1px;
  z-index: 1;
  color: #a2a9b6; }

.ui-input-prefix:hover > .ui-input,
.ui-input-suffix:hover > .ui-input {
  border-color: #eee; }

.ui-input-prefix > input:focus ~ .ui-input,
.ui-input-suffix > input:focus ~ .ui-input {
  border-color: #f28c48; }

.ui-input-prefix {
  position: relative;
  padding: 0 3px 0 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.ui-input_prefix {
  line-height: 38px;
  padding: 0 3px;
  background-color: #fff;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  left: 2px;
  top: 1px;
  z-index: 1;
  color: #a2a9b6;
  width: 36px;
  text-align: center; }

.ui-input-prefix .ui-icon-search,
.ui-input-suffix .ui-icon-search {
  cursor: pointer;
  box-sizing: content-box;
  border: solid #fff;
  border-width: 9px 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background: #b6bbc6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi+k9lwMRAZYDLwCNAHAnEMkDMDqUjoeL4AZqLfwNxFhAz4MEg+V+4vIxuYApUjBOIG4H4DhD/hNKNUHEGqDqCBh6B8rmA+CgO9Ueh8gxQ9XgjZSqUrgBiKxwhBBIvg7KnEApDcajNdwikjLtQdVKEXPgSSssSiEcZKP2KULIRh9KPCRj4FEqLEjLQEUovJ2DgYihtRygMD5MYy4eJSYfZRKZDEE4C4n+EDPxFRE5hwGcoAw6vgbwTAU0azFA6BohPQQ3BaSgDGSXUXyyG5lNiIDZDhWESLBQUe7OBmA+IFwBxMUyCEexMOhSwZAOAAAMAVJM+EQ2rrOoAAAAASUVORK5CYII=) no-repeat; }

/*
页面结构
<div class="pagination">
	<div id="page-list" class="page-list mt20 fn-clear">
		<ul class="fRight">
			<span class="page-link iblok gray"><<上一页</span>
			<li class="fn-clear fLeft"><span class="page-link iblok current">1</span></li>
			<li class="fn-clear fLeft"><span page="2" class="page-link iblok"><a href="/newsdongtai/index2.html"> 2 </a></span></li>
			<li class="fn-clear fLeft"><span page="3" class="page-link iblok"><a href="/newsdongtai/index3.html"> 3 </a></span></li>
			<li class="fn-clear fLeft"><span page="4" class="page-link iblok"><a href="/newsdongtai/index4.html"> 4 </a></span></li>
			<li class="fn-clear fLeft"><span class="page-link iblok disabled">...</span></li>
			<li class="fn-clear fLeft"><span page="198" class="page-link iblok"><a href="/newsdongtai/index198.html"> 198 </a></span></li>
			<li class="fn-clear fLeft"><span page="199" class="page-link iblok"><a href="/newsdongtai/index199.html"> 199 </a></span></li>
			<span page="2" class="page-link iblok"><a href="/newsdongtai/index2.html"> 下一页&gt;&gt; </a></span>
		</ul>
	</div>
</div>

 */
.pagination .page-list .page-link {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-left: 10px; }
  .pagination .page-list .page-link a {
    background: none;
    text-decoration: none;
    border-bottom: none; }
  .pagination .page-list .page-link:hover, .pagination .page-list .page-link.current {
    background: #6cf;
    color: #fff;
    border: 1px solid #6cf;
    text-decoration: none; }

/** * 遮盖曾*/
.coverLayer,
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333333;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3; }

/*点击弹框*/
.webox {
  background-color: #fff;
  border-radius: 3px;
  color: #f7f9fa;
  position: fixed;
  _position: absolute; }
  .webox #inside {
    background-color: #fff;
    border-radius: 3px; }
    .webox #inside h1 {
      background-color: #f7f9fa;
      color: #454545;
      cursor: move;
      font-size: 14px;
      font-style: normal;
      text-indent: 20px;
      height: 40px;
      line-height: 40px; }
      .webox #inside h1 a {
        color: #454545;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        text-indent: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center; }
        .webox #inside h1 a:hover {
          background-color: #3cb4f9;
          color: #1C81FF; }
    .webox #inside #inside_txt {
      padding: 20px; }
      .webox #inside #inside_txt .regCgb ul {
        position: relative;
        margin-top: 30px; }
        .webox #inside #inside_txt .regCgb ul li.ul_l:after {
          position: absolute;
          right: 278px;
          top: 10px;
          content: ' ';
          width: 1px;
          height: 55px;
          background-color: #e5e5e5; }
        .webox #inside #inside_txt .regCgb ul li p {
          font-size: 14px;
          color: #999; }
          .webox #inside #inside_txt .regCgb ul li p.ul_one {
            color: #333;
            font-size: 16px;
            line-height: 37px; }
            .webox #inside #inside_txt .regCgb ul li p.ul_one span {
              color: #ff823e;
              font-size: 48px;
              font-family: 'DINMEDIUM'; }
      .webox #inside #inside_txt .regCgb .download {
        color: #666;
        font-size: 14px; }
      .webox #inside #inside_txt .regCgb .goCopy, .webox #inside #inside_txt .regCgb .qqService {
        color: #ff823e;
        border-radius: 30px;
        padding: 10px 15px;
        border: 1px solid #ff823e; }
      .webox #inside #inside_txt .regCgb .qqService {
        margin-left: 10px; }
  .webox p {
    line-height: 27px;
    text-indent: 2em; }
  .webox .transTip {
    font-size: 16px;
    text-align: left;
    margin-top: 20px; }
  .webox .msg-source {
    text-indent: 0;
    text-align: left;
    width: 196px;
    float: right;
    margin-top: 30px; }

.ui-message {
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 10000;
  min-width: 400px;
  height: 20px;
  line-height: 20px;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  outline: none; }

.ui-message-success {
  background-color: #01cf97; }

.ui-message-error {
  background-color: #f4615c; }

.ui-message-warn {
  background-color: #f28c48; }

.ui-message-info {
  background-color: #f4615c; }

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: -1; }

/* 无绝对定位的模拟生成实现 */
.ui-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 1px, inset 1px 0, inset -1px 0, inset 0 -1px;
  background-color: #fff;
  background-clip: content-box;
  color: #ccc;
  -webkit-transition: color .2s, background-color .1s;
  transition: color .2s, background-color .1s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: -5px;
  *vertical-align: 0;
  overflow: hidden; }

:not(:disabled) + .ui-checkbox:hover,
:disabled + .ui-checkbox {
  color: #eee; }

:focus + .ui-checkbox {
  color: #1C81FF; }

:checked:focus + .ui-checkbox {
  color: #0c2d5f;
  background-color: #0c2d5f; }

:checked + .ui-checkbox,
:checked + .ui-checkbox:hover {
  color: #1C81FF;
  background-color: #1C81FF; }

.ui-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNDcuNTY3LDY3LjU3NWMtMy45NzgtMy4yNDEtNC4zNTYtMy4zMzctOC45LTUuNjM5Yy0yLjA0NC0xLjA0NC01LjA1NywxLjY0NS02LjUzLDMuNjM1TDkyLDExNy43MjgNCglMNjUuODUxLDgzLjk3M2MtMS40NzktMS45ODgtNC4yMDYtMi43Mi02LjI1MS0xLjc4MmMtNC42NTgsMi40MDctNC4xODksMi4zMjYtOC4xNjgsNS40NjZjLTEuODE3LDEuNDY2LTEuOTMyLDQuMDgyLTAuNDU2LDYuMDY1DQoJYzAsMCwyOC4xODMsMzYuNDk5LDMxLjU5Miw0MC44OTZjNC45OTksNi4yNzUsMTQuMDksNS45NjUsMTguODY0LDBjMy41Mi00LjQ5OCw0Ni41OS02MS4wNzgsNDYuNTktNjEuMDc4DQoJQzE0OS40OTksNzEuNTQ5LDE0OS4zODUsNjguOTM3LDE0Ny41NjcsNjcuNTc1eiIvPg0KPC9zdmc+DQo=) no-repeat center;
  background-size: 20px 20px;
  visibility: hidden; }

:checked + .ui-checkbox::after {
  visibility: visible;
  -webkit-animation: bounceIn .2s;
  animation: bounceIn .2s; }

:disabled + .ui-checkbox {
  opacity: .38; }

/* error */
.error.ui-checkbox {
  color: #f4615c; }

/*IE7, IE8 使用图片作UI*/
@media \0screen\,screen\9 {
  .ui-checkbox {
    background: url(ui/images/Checkbox/checkbox.png) no-repeat; }
  .ui-checkbox:hover {
    background-position: 0 -20px; }
  [checked] + .ui-checkbox,
  [checked][disabled] + .ui-checkbox {
    background-position: 0 -40px; }
  [defaultChecked] + .ui-checkbox,
  [defaultChecked][disabled] + .ui-checkbox {
    background-position: 0 -40px; }
  [disabled] + .ui-checkbox {
    /* disabled态使用高亮边框 */
    background-position: 0 -20px;
    filter: alpha(opacity=38); } }

input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: -1; }

.ui-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(204, 204, 204, 0.99);
  /* IE7-IE8 ignore this */
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  vertical-align: -.5ex;
  *vertical-align: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  overflow: hidden; }

:not(:disabled) + .ui-radio:hover {
  border-color: #eee; }

:focus + .ui-radio {
  border-color: rgba(28, 129, 255, 0.99); }

.ui-radio::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin: 4px auto 0;
  border-radius: 50%;
  background-color: #1C81FF;
  visibility: hidden; }

:checked + .ui-radio::before {
  visibility: visible;
  -webkit-animation: bounceIn .2s;
  animation: bounceIn .2s; }

:disabled + .ui-radio,
.ui-radio.disabled {
  border-color: #eee;
  opacity: .38; }

/* error */
.error.ui-radio {
  border-color: #f4615c; }

/*IE7, IE8 使用图片作UI*/
@media \0screen\,screen\9 {
  .ui-radio {
    background: url(ui/images/Radio/radio.png) no-repeat; }
  .ui-radio:hover {
    background-position: 0 -20px; }
  [checked] + .ui-radio {
    background-position: 0 -40px; }
  [defaultChecked] + .ui-radio {
    background-position: 0 -40px; }
  [checked] + .ui-radio:hover,
  [checked][disabled] + .ui-radio {
    /* disabled态使用高亮边框 */
    background-position: 0 -60px; }
  [defaultChecked] + .ui-radio:hover,
  [defaultChecked][disabled] + .ui-radio {
    /* disabled态使用高亮边框 */
    background-position: 0 -60px; }
  [disabled] + .ui-radio {
    background-position: 0 -20px;
    filter: alpha(opacity=38); } }

.ui-table {
  width: 100%;
  line-height: 21px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse\9;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.2);
  border: 1px solid #ccc;
  border: 0 rgba(1, 2, 3, 0); }

@-webkit-keyframes tinydown {
  0%,
  5% {
    opacity: 0;
    -webkit-transform: translateY(-10px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes tinydown {
  0%,
  5% {
    opacity: 0;
    transform: translateY(-10px); }
  10% {
    opacity: 1;
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes falldown {
  form {
    -webkit-transform: translateY(-5px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes falldown {
  form {
    transform: translateY(-5px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes raiseup {
  from {
    -webkit-transform: translateY(5px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes raiseup {
  from {
    transform: translateY(5px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(-360deg); } }

@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(-360deg); } }

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(-360deg); }
  100% {
    -webkit-transform: rotate(0); } }

@keyframes spin2 {
  0% {
    transform: rotate(-360deg); }
  100% {
    transform: rotate(0); } }

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0); }
  75% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes bounceIn {
  0% {
    transform: scale(0); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
