@charset "utf-8";
@import '../variable';

.ui-message{
	position: fixed;
	top: 30px;
	left: 50%;
	z-index: 10000;	
	min-width: 400px;
	height: 20px;
	line-height: 20px;
	padding: 15px;
	border-radius: 2px;
	color: $white;
	text-align: center;
	font-size: 14px;
	outline: none;
}

.ui-message-success{
	background-color: $green;
}

.ui-message-error{
	background-color: $red;
}

.ui-message-warn{
	background-color: $orange;
}

.ui-message-info{
	background-color: $red;
}
